@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;}


body{ 
    font-family: Lato, sans-serif;
    font-weight: 300;   
    color:#3daf4c; 
}
/* headings */
h1, h3 {
    font-family: Lato, sans-serif;
    color: darkslategrey;
}

#logo{ 
    float: left;
    font-size: 200%;
    line-height: 75px;
}

#contact {
    font-size: 100%;
    color: darkslategrey;
    float: right;
    margin-right:30px;
    line-height: 75px;
}

/* office-lunch */

#lunch {
height: 900px; 
width: 100%;
background-image: url(../images/lunch_image.jpg); 
background-repeat: no-repeat;
background-size: cover;
}

#cover-text {
    color: white;
    font-size: 110%;
    font-family: Lato, sans-serif;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;





}