@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;}


body{ 
    font-family: Lato, sans-serif;
    font-weight: 300;   
    color:#3daf4c; 
}
/* headings */
h1, h3 {
    font-family: Lato, sans-serif;
    color: darkslategrey;
}

#logo{ 
    float: left;
    font-size: 200%;
}